.App {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

/* input {
  width: 400px;
  padding: 6px 12px;
  display: block;
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

label {
  display: flex;
  margin-bottom: 5px;
  font-weight: 800;
}

input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
  margin-left: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 400px;
  padding: 6px 12px;
  display: block;
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formControl select {
  width: 400px;
  padding: 3px 6px;
}
.formControl {
  margin-bottom: 20px;
}

button {
  padding: 5px 15px;
}

.error {
  color: red;
}
