.App {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

input {
  width: 400px;
  padding: 6px 12px;
  display: block;
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formControl {
  margin-bottom: 20px;
}

button {
  padding: 5px 15px;
}

.error {
  color: red;
}
